{#<form action="{{ path('import') }}" method="post" {{ form_enctype(form) }}>#}
    {#<input name="test" type="file" >#}
    {#<input type="submit" value="Import" >#}
{#</form>#}
<a class="sonata-action-element" href="{{ path('import') }}">
    <i class="glyphicon glyphicon-import" aria-hidden="true"></i>
    Import
</a>