
<ul>
    {% for key, station in stations %}
        <ul>
            <li>Nom: {{ key }}</li>
            <li>Adresse: {{ station }}</li>
            <li><a href="https://www.google.fr/maps/place/{{ station }}">Clique</a> </li>
        </ul>
    {% endfor %}
</ul>