{% extends "::base.html.twig" %}

{% block body %}
    {% if error is defined %}
        <p>{{ error }}</p>
    {% endif %}
    <a href="{{ path('app_download_action') }}" >Download</a>
{% endblock %}