{% extends "::base.html.twig" %}

{% block body %}
    {% if success is defined %}
    <p>{{ success }}</p>
    {% endif %}
    {% if form is defined %}
    <form action="{{ path('app_upload') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" />
    </form>
    {% endif %}
{% endblock %}